html, body {
    width: 100%;
    height: 100%;
    font-family: Oxygen, sans-serif;
}

.container {
    width: 45%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 55%;
    float: left;
}

.right {
    width: 32%;
    float: right;
}

.info {
    width: 12em;
    display: flex;
    margin-left: 4em;
    flex-direction: row;
    justify-content: space-between;
}

.selected {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid rgba(15, 15, 15, 0.2);
}

#color-picker {
    border: 3px solid rgba(15, 15, 15, 0.2);
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background:black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background:black;
    cursor: pointer;
  }